<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BTArtworkFunction</key>
	<string>artworkUpdate</string>
	<key>BTArtworkHeight</key>
	<integer>242</integer>
	<key>BTArtworkWidth</key>
	<integer>242</integer>
	<key>BTMainFile</key>
	<string>index.html</string>
	<key>BTStatusFunction</key>
	<string>playerUpdate</string>
	<key>BTThemeArtist</key>
	<string>Taylor Cohron</string>
	<key>BTThemeIdentifier</key>
	<string>com.taylorcohron.Gradient</string>
	<key>BTThemeName</key>
	<string>Gradient</string>
	<key>BTThemePreviewImage</key>
	<string>preview.png</string>
	<key>BTThemeVersion</key>
	<string>1.0</string>
	<key>BTTrackFunction</key>
	<string>trackUpdate</string>
	<key>BTWindowHeight</key>
	<integer>600</integer>
	<key>BTWindowMode</key>
	<string>desktop</string>
	<key>BTWindowWidth</key>
	<integer>600</integer>
</dict>
</plist>
